ProjectName/build
ProjectName/outputs
ProjectName/src/nativeInterop/cinterop/PlatformLib.def
ProjectName/PlatformLib.def

native/KotlinIOS/PlatformLib.framework
native/PlatformLib/PlatformLib.framework

build
.idea
.gradle
**/*.iml

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties