ProjectName/build
ProjectName/outputs

native/KotlinIOS/PlatformLib.framework
native/PlatformLib/PlatformLib.framework

build
.idea
.gradle
**/*.iml

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties